  /*Things to remember:

  flex:1 allows all the flex items to expand to fill the available space.
  flex-direction: column in the body is generally a good idea. */

  * {
    /* Boiler-plate for resetting the css values */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    background: #1f2937;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;    
    /* line-height: 1.5; */
    color: #e5e7eb;
    /* display: flex; */
    flex-direction: column;
    min-width: 100vw;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    /* border: 2px solid red; */
    min-height: 50px;
    margin-bottom: 50px;

  }

  ul{display: flex;
    margin-right: 150px;
    
  }

  li { margin-left: 20px;
        list-style-type: none;
        font-size: 18px;

  }

  .logo{ margin-left: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #F9FAF8;  
  }

  .hero {
    display:flex;
    justify-content: space-between;
    margin-left: 150px;
    max-height: 400px;
    align-items: center;

  }

  .hero_main_title{
      margin-bottom: 10px;
      font-size: 48px;
  }

  .hero_left_subtext{
      display: flex;
      max-width: 100%;
      flex-direction: column;
      margin-bottom: 10px;
      font-size: 18px;
  }

  .heroleft{
      max-width: 50%;
     
      flex-direction: column;
      margin-right: 40px;
  }

  button{
      background: #3882f6;
      color: white;
      padding: 20px;
      border-radius: 10%;
      min-height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .heroright{
    /* max-width: 50%; */
    margin-right: 150px;
    align-items: center;

}
    .catpic{
      max-width: 100%;
      max-height: 400px;
      min-width: 50%;
      min-height: 200px;
      flex-shrink: 0;
      display: flex;


    }

    a{text-decoration: none;
        color: white;

    }

    .section2{
        display:flex;
        flex-direction: column;
        /* margin-left: 150px;
        margin-right: 150px; */
        margin-top: 100px;
        justify-content: space-between;
        background: white;
        flex-wrap: wrap;
        min-width: 100vw;
        

    }

    .cardpic{
        min-height: 200px;
        max-width: 200px;
        margin: 0;
        display:flex;
        margin-bottom: 5px;
        flex-wrap: wrap;
    
        
    }

    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        min-height: 100%;
        font-size: medium;
        /* border: 2px solid red; */
        max-width: 1500px;
        margin-left: 150px;
        margin-right: 150px;
        color: black;
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding-bottom: 10px;
    
    }

    .card_main_title{margin-left: 150px;
        margin-right: 150px;
        color: black;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0;
        font-size: 36px;
        font-weight: bolder;
    }
    
    .section3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
      background: #e5e7eb;
    }

    .pet_quote{
      text-align: center;
      color: #1f2937;
      font-size: 36px;
      max-width: 70%;
      font-weight: lighter;
      margin-top: 80px;
      margin-left: 150px;
      margin-right: 150px;
      margin-bottom: 80px;
      
     
    }

    cite{color: #1f2937;
      font-size: 25px; 
      font-weight: bold;
      


    }